# Dependências
node_modules/

# Build / Compilação
dist/
build/
*.tsbuildinfo
.cache/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Prisma
*.db
*.db-journal

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testes / Cobertura
coverage/

# Segurança
*.pem

# Sistema operacional
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
